In [1]:
import sqlalchemy as sa

engine = sa.create_engine('postgresql://postgres:461436@localhost:5432/postgres')

In [2]:
conda install -c conda-forge ipython-sql

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [4]:
%sql $engine.url

'Connected: postgres@postgres'

In [7]:
import pandas as pd
df = pd.read_csv("/Users/rafaela/test/webscraping.csv")
df.to_sql('webscraping', engine)
engine.table_names()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  after removing the cwd from sys.path.

['webscraping']

In [8]:
%sql SELECT * FROM webscraping

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(0, 0, '49,95 EUR', '44,99 EUR', 'Leder-Sandalen mit Nieten-Besatz'),
 (1, 1, '49,95 EUR', '44,99 EUR', 'Leder-Sandalen mit Nieten-Besatz'),
 (2, 2, '59,95 EUR', '54,99 EUR', 'Sandalen mit Keilabsatz'),
 (3, 3, '59,95 EUR', '54,99 EUR', 'Sandalen mit Keilabsatz'),
 (4, 4, '59,95 EUR', '49,99 EUR', 'Lederslipper mit Quasten')]